<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Hee</servlet-name>
    <servlet-class>com.car.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hee</servlet-name>
    <url-pattern>/eeeeee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OperatorLogin</servlet-name>
    <servlet-class>com.car.servlets.OperatorLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OperatorLoginOut</servlet-name>
    <servlet-class>com.car.servlets.OperatorLoginOut</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterOperatorPassword</servlet-name>
    <servlet-class>com.car.servlets.AlterOperatorPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarManage</servlet-name>
    <servlet-class>com.car.servlets.CarManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorLogin</servlet-name>
    <url-pattern>/OperatorLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperatorLoginOut</servlet-name>
    <url-pattern>/OperatorLoginOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterOperatorPassword</servlet-name>
    <url-pattern>/AlterOperatorPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarManage</servlet-name>
    <url-pattern>/CarManage</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>OperatorFilter</filter-name>
    <filter-class>com.car.filters.OperatorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OperatorFilter</filter-name>
    <url-pattern>/OperatorIndex.jsp</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>OperatorLogin.jsp</welcome-file>
  </welcome-file-list>
</web-app>